@import url(variables.css);

.container{
    display: grid;
    gap: 10px;
    grid-template-columns: 5em 100px 30%;
    grid-template-rows: 200px auto;
    padding: 10px;
    background-color: gray;
    max-width: 30rem;
    padding: 1em;
}
.box{
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}